<!doctype html>
<html>
<head>
	<link rel="shortcut icon" type="image/x-icon" href="__IMAGES__index/fav.png">
	<title>古崇2015春夏装新款 两件套甜美印花上衣拼接欧根纱公主裙【正品 价格 图片 折扣】 - 折800特卖商城</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__CSS__goodinfo.css">
	<script type="text/javascript" src="__JS__jquery-1.8.3.js"></script>
	<script type="text/javascript" src="__JS__goodinfo.js"></script>
</head>
		<include file="Public/header" />
		<{:W('Public/search')}>
<body>
	
	<div class="main1">
		<div>
			<span class="yihang"><a href="">特卖商城></a> ><a href="">女装 ></a><a href="">女装服饰></a><a href="">古崇2015春夏装新款 两件套甜...</a></span>
		</div>
		<div id="zhuti">
			<div id="datu">
				<div id="one">
					<img  src="__PUBLIC__<{$good['pic']}>" id="datua" style="width:400px;height:400px">
					<div id="a"></div>
					<div id="flag"></div>
				</div>
				<div class="xiaotu">
					<ul>
						<li><img class="xiaotu1" src="__PUBLIC__<{$good['pic']}>"></li>
							<foreach name="goodpic" item="vo">
								<li><img class="xiaotu1" src="__PUBLIC__<{$vo['pic']}>"></li>
							</foreach>
						<!-- 	<li><img class="xiaotu1" src="__IMAGES__goods/good_2.jpg"></li>
							<li><img class="xiaotu1" src="__IMAGES__goods/good_3.jpg"></li>
							<li><img class="xiaotu1" src="__IMAGES__goods/good_4.jpg"></li>
							<li><img class="xiaotu1" src="__IMAGES__goods/good_5.jpg"></li> -->
					</ul>
				</div>
				<div id="fangdatu" style="position:relative;top:-480px"><img id="bigImg" src="__PUBLIC__<{$good['pic']}>"></div>
					<script type="text/javascript">
						$(function(){
							$(".xiaotu1").mouseover(function(){
								var a=$(this).attr('src')
								// alert(a)
								$("#datua").attr({'src':a});
								$("#bigImg").attr({'src':a});
							});
						});
					</script>		
				<div class="feixiang">
					<p>分享到：</p>
					<a href=""><div class="feixiangtu1"></div></a>
					<a href=""><div class="feixiangtu2"></div></a>
					<a href=""><div class="feixiangtu3"></div></a>
					<a href=""><div class="feixiangtu4"></div></a>
					<a href=""><div class="feixiangtu5"></div></a>
					<a href=""><div class="feixiangtu6"></div></a>
					<a href=""><div class="feixiangtu7"></div></a>
				</div>		
			</div>
				<div id="zhongjian">
					<br/><b>　</b><br/>
					<font color="#FF7700" size="3"><b>　</font></b>
					<table border=0 width="610" height="500"　>
						<tr>
							<td align="center" width="100" class="bianma_id" id="<{$Think.session.id}>">商品编码</td>
							<td><span id="good_gid"><{$good['id']}></span><span><{$good['id']}><span><{$good['id']}></td>
						</tr>
						<tr>
							<td align="center" width="100" style="font-size:16px;color:#8F8F8F" class="bianma_name">商品名称</td>
							<td style="font-size:16px"><{$good['name']}></td>
						</tr>
						<tr>
							<td align="center" class="bianma">现　　价</td>
							<td><font color="#DD0000" size="4">
								<if condition="($minprice neq $maxprice)">
									<span>¥</span><b class="money"><{$minprice}><sub>~</sub><span>¥</span><{$maxprice}></b>
								<else />
									<span>¥</span><b class="money"><{$minprice}></b>
								</if>
							</font>（降价通知）</td>
						</tr>
						<tr>
							<td align="center" class="bianma">商品评价</td>
							<td><font color="orange">★★★★★</font><a href="">（共有16079条评价）</a></td>
						</tr>
						<tr>
							<td align="center" class="bianma">正在促销</td>
							<td>    积分可抵订单金额　　　　　 <a href=""><font size="2">看看能换啥</font></a></td>
						</tr>
						<tr>
							<td align="center" class="bianma">送　　至</td>
							<td>
								<select>
									<option value="">北京 昌平 兄弟连</option>
									<option value="">北京 昌平 回龙观</option>
								</select>
								<font size="2">现货 现在下单，预计明天送达</font>
							</td>
						</tr>
						<tr>
							<td align="center" class="bianma">服　　务</td>
							<td><font size="2">支付成功后，72小时内发货</font></td>
						</tr>
						<tr>
							<td align="center" class="bianma">温馨提示</td>
							<td class="td">
								<ul>
									<li><div class="li" id="li1">　</div>分期付款　</li>
									<li><div class="li" id="li2">　</div>免运费　</li>
									<li><div class="li" id="li3">　</div>15天无理由退货　</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td align="center" class="bianma">选择尺寸</td>
							<td height="30px">
							<foreach name="size" item="vo">
								<div class="chicun"><{$vo['size']}></div>
							</foreach>
								<!-- <div class="chicun">XL</div><div class="chicun">XXL</div> -->
							</td>
						</tr>
						<tr>
							<td align="center" class="bianma">选择颜色</td>
							<td height="30px">
								<foreach name="color" item="vo">
								<div class="chicun_color"><{$vo['color']}></div>
							</foreach>
								<!-- <div class="chicun_color">黄色</div><div class="chicun_color">蓝色</div> -->
							</td>
						</tr>
						<tr>
							<td align="center" class="bianma">库存</td>
							<td height="30px"><div id="good_number"><{$num}></div></td>
						</tr>
						<script type="text/javascript">
							$(function(){
								$(".chicun_color").click(function(){
									var good_gid=$("#good_gid").html();
									var info_color=$(this).html();
									$.ajax({
          								url:'__MODULE__/Goods/color_ajax',
          								type:"post",
          								data:"color="+info_color+"&gid="+good_gid,
          								dataType:"json",
          								success:function(data){
          									// alert(data);
          										var num=data.num;
          										if(num==null){
          											$("#good_number").html('暂无库存');
          										}else{
          											$("#good_number").html(num);
          										}
          										var money=data.price;
          										if(money==null){
          											$(".money").html();
          										}else{
          											$(".money").html(money);
          										}
            							 },
         
									});
								});
								$(".chicun").click(function(){
									var good_gid=$("#good_gid").html();
									var info_size=$(this).html();
									$.ajax({
          								url:'__MODULE__/Goods/size_ajax',
          								type:"post",
          								data:"size="+info_size+"&gid="+good_gid,
          								dataType:"json",
          								success:function(data){
          										var num=data.num;
          										if(num==null){
          											$("#good_number").html('暂无库存');
          										}else{
          											$("#good_number").html(num);
          										}
												var money=data.price;
          										if(money==null){
          											$(".money").html();
          										}else{
          											$(".money").html(money);
          										}
            							 },
         
									});
								});
							});




						</script>
						<tr>
							<td align="center" class="bianma">已 选 择</td>
							<td>
								<span class="bianma_size"></span>&nbsp&nbsp&nbsp
								<span class="bianma_color"></span>
							</td>
						</tr>
						<tr>
							<td align="center" class="bianma">点击量</td>
							<td height="30px"><div><{$good['clicknum']}></div></td>
						</tr>
						<!-- <tr>
							<td align="center" class="bianma">我 要 买</td>
							<td>
						</tr> -->
						<tr>
							<td align="center" class="bianma">购买延保</td>
							<td class="td">
								<ul>
									<div class="yuan"><li><div class="li" id="li4">　</div> 100%样品检验</li></div>
									<div class="yuan"><li><div class="li" id="li5">　</div> 100%按时发货</li></div>
									<div class="yuan"><li><div class="li" id="li6">　</div> 8天无理由退货</li></div>
								</ul>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<form action="<{:U('Cart/inertcart')}>" method="post">
								<input type="hidden" value="" name="gid" class="gid">
								<input type="hidden" value="" name="color" class="color">
								<input type="hidden" value="" name="size" class="size">
								<input type="hidden" value="" name="money" class="money">
								<input type="hidden" value="" name="name" class="name">
								<input type="hidden" value="" name="cartpic" class="cartpic">
								<input type="hidden" value="" name="goodnumber" class="goodnumber">
								<a class='submeta'></a>
								<input type="submit" class='submetb' value="加入购物车"></a>
								</form>
							</td>
						</tr>
						<tr> 
							<td></td>
							<td><div class="li" id="li7">　</div><a href="<{:U('Favorite/add')}>?id=<{$good['id']}>"><font color="black">收藏商品</font></a>　　　<a href=""><font size="2">(请告诉我们更低的价格)</font></a></td>
						</tr>
					</table>
				</div>
				<div id="right">
					<table class="youbiao">
						<tr><td height="40px" bgcolor="#F5F5F5"><font color="#666666">  　卖家：</font><b>【折800】</b></td></tr>
						<tr><td height="40px">  　商家满意度：<font color="orange">★★★★★</font></td></tr>
						<tr><td height="72px">
    							　商品满意度：4.7分<br>
    							　服务满意度：4.9分<br>
    							　物流满意度：4.9分<br>
							</td>
						</tr>
						<tr>
							<td height="60px">
							在线客服： <span id="chat_box" style="cursor:pointer"><div style="float:left;position:relative;left:85px;"><img src="__IMAGES__goods/online.gif"></div>　<a>和我联系</a><br></span>
							
							</td>
						</tr>
						<script type="text/javascript">
							$(function(){
								$("#chat_box").click(function(){
									$("#chat_box_1").css({"display":"block"});
								});
								$("#chat_box_none").click(function(){
									$("#chat_box_1").css({"display":"none"});
								});
							});
						</script>
						
						<tr><td><font color="#DD0000" size="4"><b>　¥<{$minprice}> </b></font>　　<a href="">免运费</a></td></tr>
					</table>
				</div> 
			</div>
			<div id="xiangqing">
				<div class="xiangqing" style="margin:0 auto">
					<ul class="canshu">
						<li id="goods_info">商品详情</li>
						<li>商品参数</li>
						<li id="goods_diss">评价（1001）</li>
						<li>装箱清单</li>
						<li>售后保障</li>
						<li>咨询</li>
					</ul>
					<div id="goods_info_pic">
						<div style="height:32px"></div>
						<div class="goods_info_pic_info">
							<p>品牌名称<{$good['name']}></p>
							<p>产品参数</p>
							<ul>
								<li>上市时间：<{$good['addtime']|date="Y-m-d",###}></li>
								<li>面料分类：<{$good['material']}></li>
								<li>商品详情：<{$good['detail']}></li>
								<li>所属类别：<{$good['pname']}></li>
								<li>货号：<{$good['id']}></li>
								<li>适用季节：夏季</li>
								<li>适用对象：青少年</li>
								<li>适用场景：休闲场合</li>
								<li>服饰工艺：免烫处理</li>
								<li>品牌：<{$brand['brand']}></li>
								<li>颜色：
									<foreach name="color" item="vo">
									<{$vo['color']}>&nbsp;
									</foreach>
								</li>
								<li>尺寸：
									<foreach name="size" item="vo">
									<{$vo['size']}>&nbsp;
									</foreach>
								</li>
								<li>基础风格：修身版</li>
							</ul>
						</div>
						<foreach name="goodpics" item="vo">
							<div style="width:960px;border:1px solid #ccc"><img src="__PUBLIC__<{$vo['pic']}>" style="width:940px;border:1px solid #ccc"></div>
						</foreach>
					</div>
					<div id="goods_diss_talk">
						<div style="height:32px"></div>
						<div class="goods_diss_talk_one">
							<div class="goods_diss_talk_one_left">
								<span>与描述相符合</span>
								<p>4.7</p>
								<span>☆☆☆☆☆</span>
							</div>
							<div class="goods_diss_talk_one_right">
								<span>　大家都写到</span>
								<ul>
									<li>质量好</li>
									<li>衣服很舒服</li>
									<li>很划算</li>
									<li>很划算</li>
									<li>尺码很好</li>
									<li>快递不错</li>
									<li>穿着美</li>
								</ul>
							</div>
						</div>
						<div id="goods_diss_talk_two">
							<input type="radio" name="radio">全部
							<input type="radio"  name="radio">追评
							<input type="radio"  name="radio">图片
						</div>
						<foreach name="good_diss" item="vo">
						<div id="goods_diss_talk_three">
							<div class="goods_diss_talk_three_left">
								<{$vo['content']}>
							</div>
							<div class="goods_diss_talk_three_right">
								<ul>
									<li>评价者:<span><{$vo['name']['user']}></span></li>
									<li>等级:<span><{$vo['name']['lever']}></span></li>
									<li>评价时间:<span><{$vo['time']|date="Y-m-d H:i:s",###}></span></li>
								</ul>
								<div class="goods_diss_talk_three_name">
									<if condition="($vo['name']['pic'] eq true)">
									<img src="__PUBLIC__/<{$vo['name']['pic']}>" style="width:60px;height:60px">
									<else />
									<img src="__IMAGES__/user/user_default_logo_small.gif" style="width:60px;height:60px">
								</if>
								</div>

							</div>
						</div>
					</foreach>
					<{$page}>
					</div>
					

				</div>
				<script type="text/javascript">
					$(function(){
						$("#goods_info").click(function(){
							$("#goods_info_pic").css({"display":"block"});
							$("#goods_diss_talk").css({"display":"none"});
						});
						$("#goods_diss").click(function(){
							$("#goods_info_pic").css({"display":"none"});
							$("#goods_diss_talk").css({"display":"block"});
						});
					});
				</script>
				<div class="cebian1">
					<div style="width:190px;height:30px;background:#FAFAFA;border-bottom:1px solid #ccc;line-height:30px"><b>相关分类</b></div>
					<ul>
						<li><a href="">空气净化器</a></li><li><a href="">吸尘器</a></li><li><a href="">电风扇</a></li>
						<li><a href="">挂烫机</a></li><li><a href="">空调扇</a></li><li><a href="">加湿器</a></li>
						<li><a href="">空气净化器</a></li><li><a href="">吸尘器</a></li><li><a href="">电风扇</a></li>
						<li><a href="">挂烫机</a></li><li><a href="">空调扇</a></li><li><a href="">加湿器</a></li>
						<li><a href="">挂烫机</a></li><li><a href="">空调扇</a></li><li><a href="">加湿器</a></li>

					</ul>
				</div>
				<div class="cebian1" id="left_fixed">
					 <img src="__IMAGES__goods/p4_65389.gif">
				</div>
			
			
			
		
			
				
			</div>	

	</div>
	<!-- 聊天 -->
	<div id="chat_box_1" style="width:400px;height:400px;position:fixed;right:50px;bottom:10px;z-index:333;background:#fff;opacity:0.9;display:none">
		<div id="chat_box_none" style="width:40px;height:20px;background:#ccc;cursor:pointer">关闭</div>
		<include file="Chat/chat" />
	</div>
	<include file="Public/rightstrip" />
	<include file="Public/blogroll" />
	<div style="clear:left"></div>
	<{:W('Public/footer')}>
	<!-- <include file="Public/footer" /> -->
	<include file="Public/rightstript" />
</body>
	<script>
		var leftDiv = document.getElementById('one');//获取左边DIV对象
		var rightDiv = document.getElementById('fangdatu');//获取右边DIV对象
		var flagDiv = document.getElementById('flag');//获取小滑块对象
		var oImg = document.getElementById('bigImg');//获取img对象
		var aDiv = document.getElementById('a');
		//小滑块的移动事件
		aDiv.onmousemove = function(e){
			// alert('qqq');
			var ev = e || window.event;//事件对象兼容性处理
			var mouseX;//获取小滑块的实时X轴位置
			var mouseY;//获取小滑块的实时Y轴位置
			mouseX = ev.layerX || ev.offsetX;
			mouseY = ev.layerY || ev.offsetY;


			flagDiv.style.display = 'block';
			rightDiv.style.display = 'block';

			// flagDiv.style.left = (mouseX-flagDiv.offsetWidth/2) + 'px';//将小滑块的实时鼠标位置赋给小滑块实际位置
			// flagDiv.style.top = (mouseY-flagDiv.offsetHeight/2) + 'px';
			flagDiv.style.left = (mouseX-flagDiv.offsetWidth/2) + 'px';//将小滑块的实时鼠标位置赋给小滑块实际位置
			flagDiv.style.top = (mouseY-flagDiv.offsetHeight/2) + 'px';
			//小滑块左
			if(parseInt(flagDiv.style.left) < 0){
				flagDiv.style.left = 0 + 'px';
			}
			//小滑块右
			if(parseInt(flagDiv.style.left) > (leftDiv.offsetWidth - flagDiv.offsetWidth)){
				flagDiv.style.left = (leftDiv.offsetWidth - flagDiv.offsetWidth) + 'px';
			}
			//小滑块上
			if(parseInt(flagDiv.style.top) <0){
				flagDiv.style.top = 0 + 'px';
			}
			//小滑块下
			if(parseInt(flagDiv.style.top) > (leftDiv.offsetHeight - flagDiv.offsetHeight)){
				flagDiv.style.top = (leftDiv.offsetHeight - flagDiv.offsetHeight) + 'px';
			}

			oImg.style.left = -2*parseInt(flagDiv.style.left) + 'px';
			oImg.style.top = -2*parseInt(flagDiv.style.top) + 'px';

		}

		aDiv.onmouseout = function(){
			flagDiv.style.display = 'none';
			rightDiv.style.display = 'none';
		}
</script>
		

	
</html>