<extend name="Public:menu" />
<block name="user">
	<link href="__CSS__secure.css" rel="stylesheet" type="text/css">
				<!--右边安全中心-->
			<div class="body_right_secure">
				<div class="body_right_size">
					<span>安全中心</span>
				</div>
				<!--安全进度条-->
				<div class="body_right_strip">
					<div class="body_right_strip_size">
						账号安全度：
					</div>
					<span>
						低
					</span>
					<div class="body_right_strip_energy">
						<div class="body_right_strip_inner">
						</div>
					</div>
				</div>
				<!--安全进度条结束-->
				<div class="body_right_email">
					<div class="body_right_email_pic">
						<div class="body_right_email_pic_inner">

						</div>
					</div>
					<div class="body_right_email_size">
						您尚未绑定邮箱 
					</div>
					<div class="body_right_email_text">
						绑定手机和邮箱,还能获得<span>5积分</span>奖励
					</div>
				</div>


				<div class="body_right_phone">
					<div class="body_right_phone_pic">
						<div class="body_right_phone_pic_inner">

						</div>
					</div>
					<div class="body_right_phone_size">
						您尚未绑定手机 
					</div>
					<div class="body_right_phone_text">
						绑定手机和邮箱,还能获得<span>5积分</span>奖励
					</div>
				</div>
			</div>
</block>