<extend name="pwd" />
<block name="newpass">
	<link href="__CSS__five.css" type="text/css" rel="stylesheet">
	<br>
	<table class="table">
		<tr>
			<td><img src="__IMAGES__login/2015-04-20_201603.png"></td>
		</tr>
		<tr>
			<!-- <td>&nbsp;&nbsp;<a href="#"><img src="__IMAGES__login/2015-04-20_201900.png"></a></td> -->
			<td>&nbsp;&nbsp;<a href="<{:U('Login/login')}>">请重新登陆</a></td>
		</tr>
	</table><br>
	<span id="line"></span>
	<table class="table_two">
		<tr>
			<td><span id="font">您还可以去:</span></td>
		</tr><br>
		<tr>
			<td><a href="#"><img src="__IMAGES__login/2015-04-20_203238.png"></td></a>
			<td><a href="#"><img src="__IMAGES__login/2015-04-20_203247.png"></td></a>
			<td><a href="#"><img src="__IMAGES__login/2015-04-20_203255.png"></td></a>
		</tr>
	</table>
	<script>
		$(function(){
			$(".box4,.box5,.box3,.box2,.box1,.box").css({"background":"#E9E9E9"});
			$("#explain span").css({"color":"#999"})
			$(".box5").css({"background":"#F8B986"})
			$("#explain span").eq(4).css({"color":"#F8B986"})
			
		});
	</script>
</block>