<html>
	<head>
		<title>smalllogin</title>
		<meta charset="utf-8">
		<link href="__CSS__smalllogin.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="box">
			<div class="box_fork">
				<img src="__IMAGES__login/colse.png">
			</div>
			<form action="<{:U('Login/dologin')}>">
			<table class="table">
				<br>
				<tr>
					<td id="href">
						<span id="font">
						登陆折800——享受会员特权
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="<{:U('Login/register')}>">立即注册</a>
						</span>
					</td>
				</tr>
				<tr>
					<td><input type="text" id="input" placeholder="请输入用户名" name="user"></td>
				</tr>
				<tr>
					<td><input type="password" id="input" placeholder="请输入密码"name="pass"></td>
				</tr>
				<tr>
					<td><br><input type="submit" id="submit" value="立即登陆"></td>
				</tr>
				<tr>
					<td><br>
						<span id="font_two">
								使用其他账号登陆
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="">忘记密码？</a>
						</span>
					</td>
				</tr>
				<tr>
					<td><br>
						<div id="box_two">
							<div id="img">
								<a href="#"><img src="__IMAGES__login/2015-04-22_090228.png"></a>
							</div>
						</div>
					</td>
				</tr>
		</table>
	</form>
		</div>
	</body>
</html>