<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<link href="__CSS__smallregister.css" type="text/css" rel="stylesheet">
		<script src="__JS__jquery-1.8.3.js"></script>
	</head>
	<body>
		<div class="box">
			<table class="table" border="0">
				<tr>
					<td><span id="font">
						登陆折800——享受会员特权
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="">立即登陆</a>
						</span><br>	
					</td>
				</tr>
				<tr>
					<td>
						 <span id="span">手机号码：</span><input type="text" id="input"  placeholder="请输入常用手机号">
					</td><br>
				</tr>
				<tr>
					<td>
						<span id="span">设置密码：</span><input type="text" id="password" placeholder="6-24位字符，不能是纯数字">
					</td>
				</tr>
				<tr>
					<td>
						<span id="span">确认密码：</span><input type="text" id="repassword" placeholder="请再次输入密码">
					</td>
				</tr>
				<tr>
					<td>
						<span id="span">验证码：</span>&nbsp;&nbsp;<input type="text" id="code" placeholder="验证码">
						<div style="float:right;width:100px"><img src="<{:U('Login/code')}>" onclick="this.src='<{:U('Login/code')}>?d='+Math.random();" style="float:right;width:90px"></div>
					</td>
				</tr>
				<tr>
					<td><br><input type="submit" id="submit" value="同意协议并注册"></td>
				</tr>
			<tr>
				<td><br>
					<span id="font_two">
						<a href="">《折800用户注册协议》</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="">邮箱注册>></a>
					</span>
				</td>
			</tr>
		</table><br>
		</div>
	</body>
<script type="text/javascript">
    $(function(){
		$("#input,#password,#repassword,#code").focus(function(){
			  $(this).addClass("focus");
			  if($(this).val() ==this.defaultValue){  
                  $(this).val("");           
			  } 
		}).blur(function(){
			 $(this).removeClass("focus");
			 if ($(this).val() == '') {
                $(this).val(this.defaultValue);
             }
		});
    })
    </script>

</html>