		A{text-decoration:NONE}
		/*A:hover{TEXT-DECORATION:underline};*/
		body{
			background:#F6F6F6;
		}
		.top{
			margin:0 auto;
			width:980px;
			height:80px;
		}
		#imgs{
			background:#F6F6F6;
			margin-top:10px;
			
		}
		#span{
			color:#666666;
			font-size:12px;
			float:right;
			margin-top:60px;
		}
		.login{
			width:980px;
			height:497px;
			background:#FFFFFF;
			margin:0 auto;
		}
		.left{
			float:left;
			margin-top:50px;
			margin-left:50px;
		}
		.right{
			float:right;
		}
		.table{
			border-spacing:20px;
			margin-top:70px;
			margin-right:50px;
			 
			font-size:12px;
		}
		#lo{
			font-size:30px;
			color:#333333;
			font-family:微软雅黑;
		}
		#txt{
			width:210px;
			height:40px;
		}
		#pwd{
			width:210px;
			height:40px;
		}
		#user-img{
			float:left;
		}
		#pwd-img{
			float:left;
		}
		#line{
			color:#E5E5E5;
		
		}
		#size{
			color:#666666;
			font-size:12px;
		}
		.bottom{
			width:980px;
			height:100px;
			margin:0 auto;
		}
		.bo{
			color:#666666;
			font-size:12px;
			margin-left:200px;
		}
		.bottom-img{
			margin-left:400px;
		}
		#img1{
			width:71px;
			height:28px;
		}