		A{text-decoration:NONE}
		body{
			background:#F6F6F6;
		}
		.top{
			margin:0 auto;
			width:980px;
			height:100px;
		}
		#imgs{
			background:#F6F6F6;
			margin-top:30px;
		}
		#span{
			color:#666666;
			font-size:12px;
			float:right;
			margin-top:60px;
		}
		.content{
			width:980px;
			height:497px;
			background:#fff;
			margin:0 auto;
		}
		#size{
			float:left;
			top:20px;
			left:10px;
		}
		.bottom{
			width:980px;
			height:100px;
			margin:0 auto;
		}
		.bo{
			color:#666666;
			font-size:12px;
			margin-left:200px;
		}
		.bottom-img{
			margin-left:400px;
		}
		#img1{
			width:71px;
			height:28px;
		}
		#size{
			height:40px;
			margin-left:20px;
			line-height:60px;
			color:#333333;
		}

		.box{
			position:relative;
			top:39px;
			left:160px;
			border-radius:20px;
			width:20px;
			height:20px;
			background:#E9E9E9;
		}
		#write{
			color:gold;
		}
		.box2{
			position:relative;
			top:18px;
			left:310px;
			border-radius:20px;
			width:20px;
			height:20px;
			background:#E9E9E9;
		}
		.box3{
			position:relative;
			top:-23px;
			left:470px;
			border-radius:20px;
			width:20px;
			height:20px;
			background:#E9E9E9;
		}
		.box4{
			position:relative;
			top:-43px;
			left:640px;
			border-radius:20px;
			width:20px;
			height:20px;
			background:#E9E9E9;
		}
		.box5{
			position:relative;
			top:-63px;
			left:810px;
			border-radius:20px;
			width:20px;
			height:20px;
			background:#E9E9E9;
		}
		#line-hr{
			border:0px;
			width:650px;
			height:5px;
			background:#E9E9E9;
		}
		#box-size{
			margin-left:5px;
			color:#ADADB8;
			font-size:14px
		}
		#explain{
			margin-left:130px;
			margin-top:-60px;
			color:#ADADB8;
			font-size:12px;
		}
		#prompt{
			color:#ADADB8;
			font-size:14px;
			margin-left:130px;
			margin-top:30px;
		}
		#table{
			margin-left:130px;
			margin-top:30px;
		}
		#username{
			width:200px;
			height:30px;
		}
		#code{
			width:85px;
			height:30px;
		}
		.style{
			background:#F8B986;
		}