		A{text-decoration:NONE}
		body{
			background:#F6F6F6;
		}
		.top{
			margin:0 auto;
			width:980px;
			height:100px;
		}
		#imgs{
			background:#F6F6F6;
			margin-top:30px;
		}
		#span{
			color:#666666;
			font-size:12px;
			float:right;
			margin-top:60px;
		}
		.re{
			width:980px;
			height:497px;
			background:#fff;
			margin:0 auto;
		}
		.left{
			float:left;
			margin-top:56px;
			
		}
		.table{
			border-spacing:30px;
		}
		#username{
			width:255px;
			height:30px;
		}
		#password{
			width:255px;
			height:30px;
		}
		#repassword{
			width:255px;
			height:30px;	
		}
		#yzm{
			width:80px;
		}
		#checkbox{
			margin-left:110px;

		}
		#size1{
			font-size:13px;
			color:#666666;
		}
		#submit{
			margin-left:50px;
			width:181px;
			height:33px;
			background:#FF3B37;
			color:#fff;
			border:0px;
			font-size:14px;
		}
		#image{
			margin-left:10px;
		}
		.right{
			float:right;
		}
		.bottom{
			width:980px;
			height:100px;
			margin:0 auto;
		}
		#bo{
			color:#666666;
			margin-left:200px;
			font-size:12px;
		}
		.bottom-img{
			margin-left:400px;
		}
		#img1{
			width:71px;
			height:28px;
			}
		.right{
			float:right;
			margin-top:70px;
			margin-right:120px;
		}
		.size{
			margin-top:15px;
			margin-left:40px;
			font-size:12px;
			color:#666666;
		}
		.sub{
			width:80px;
			height:30px;
			border:1px solid:#D5D5D5;
			margin-top:20px;
		}