
.smallshade{
   position: fixed;
   top: 0px;
   left: 0px;
   right:0px;
   bottom:0px;
   background-color:#000;
   -moz-opacity:0.5;
   opacity:0.6;
   z-index:100000;
   filter: alpha(opacity=40);
   display:none;
}
