<html>
	<head>
		<meta charset="utf-8">
		<style>
			body{
				background:url('');
			}
		</style>
	</head>
	<body onLoad="newsSee()">
		<form name="form1">
		<p align=center><input type="text" name="news2" size=40 style="border:0;font-size:20px;"></p>
		</form>
	</body>
	<script language="JavaScript">
	
		function MArray() {
		  this.length = MArray.arguments.length
		  for (var i = 0; i < this.length; i++)
		  this[i+1] = MArray.arguments[i]}
		  var fArray = new MArray;
		  fArray[0]="抱歉网站正在维护！";
		  fArray[1]="抱歉网站正在维护！"
		  fArray[2]="抱歉网站正在维护！"
		  fArray[3]="抱歉网站正在维护！"
			var x = 1;
			var y = 0;
			var msg1 = fArray[y];
		function newsSee() {
		if (x==msg1.length+1) {
			y+=1;
			if (y > 3) y=0;
			document.form1.news2.value=' ';
			msg1 = fArray[y];
			x=0;}
			document.form1.news2.value=msg1.substring(0,x);  
			x+=1;
			setTimeout("newsSee() ",100);
			}
	
	</script>
</html>