<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__CSS__leftstrip.css">
</head>
<body>
	<div id="leftstrip">
		<div id="left_top_pic"><img src="__IMAGES__public/side_logo_min.png"></div>
		<div id="left_content">
			<div class="left_content_top">
				<ul>
					<li><a href="">品牌特卖</a></li>
					<li><a href="">8块8包邮</a></li>
					<li><a href="">20元封顶</a></li>
					<li><a href="">精选预告</a></li>
					<li><a href="">0元抽奖</a></li>
					<li><a href="">特卖商城</a></li>
					<li><a href="">优品汇</a></li>
					<li><a href=""><img src="__IMAGES__public/right_logo_0420.gif"></a></li>
				</ul>
			</div>
			<div class="left_content_center">
				<ul>
					<li><div class="conter_1"></div><a href="">女装</a></li>
					<li><div class="conter_2"></div><a href="">男装</a></li>
					<li><div class="conter_3"></div><a href="">居家</a></li>
					<li><div class="conter_4"></div><a href="">母婴</a></li>
					<li><div class="conter_5"></div><a href="">鞋包</a></li>
					<li><div class="conter_6"></div><a href="">配饰</a></li>
					<li><div class="conter_7"></div><a href="">美食</a></li>
					<li><div class="conter_8"></div><a href="">数码</a></li>
					<li><div class="conter_9"></div><a href="">美妆</a></li>
					<li><div class="conter_10"></div><a href="">文体</a></li>
					<li><div class="conter_11"></div><a href="">老年</a></li>
				</ul>
				<div id="leftstrip_div"><input style="text" id="leftstrip_input"><a href=""><div  class="conter_12"></div></a></div>
			</div>
			<div>
				<p>&nbsp;<a href="" id="qrcode_1">值得买</a>&nbsp;|<a href="" id="qrcode_1">值得逛</a></p>
				<img src="__IMAGES__public/qrcode_65057_100.jpg" id="qrcode">
			</div>
		</div>
	</div>
</body>
</html>