<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="__CSS__raffle.css" rel="stylesheet" type="text/css">
		<script src="__JS__jquery-1.8.3.js"></script>
		<script src="__JS__raffle.js"></script>
	</head>
	<body>
		<center><div class="raffle_out">
			<!--未点击图片-->
			<div class="raffle_out_pic">
			</div>
			<!--未点击图片结束-->

			<!--点击后图片-->
			<a href="<{:U('Activity/Index')}>" target="view_window"><div class="raffle_out_pic_click">
			</div></a>
			<!--点击后图片结束-->
		</div></center>
	</body>
</html>